:root {
	--datePickedColor: #aaaaaa;
	--datePickedColorHover: #000000;
	--sentOutColor: #000000;
	--sentOutColorHover: #000000;
	--diagColor: #000000;
	--diagColorHover: #000000;
	--submittedClaimColor: #000000;
	--submittedClaimColorHover: #000000;
	--submittedRFAColor: #000000;
	--submittedRFAColorHover: #000000;
	--orderedPartsColor: #000000;
	--orderedPartsColorHover: #000000;
	--partsArrivedColor: #000000;
	--partsArrivedColorHover: #000000;
	--waitingOnDEPColor: #000000;
	--waitingOnDEPColorHover: #000000;
	--finishedColor: #000000;
	--finishedColorHover: #000000;
	--defaultColor: #000000;
	--defaultColorHover: #000000;
	color-scheme: light;
	--h5-color: #000;
}

.small-button {
	padding: 3px 6px 3px 6px;
}

#unsavedToastText {
	position: relative;
}

.unsaved-changes-buttons {
	position: absolute;
	right: -207;
	top: 7;
}

h5 {
	color: var(--h5-color);
}

/* ::-webkit-scrollbar {
	display: none;
} */

.navbar {
	-webkit-user-select: none;
	user-select: none;
	-webkit-app-region: drag;
	float: top;
}

.focusIndicator {
	/* background-image: linear-gradient(to right, #094092, #0d6efd); */
	background-image: linear-gradient(#09409200, #2b3035), linear-gradient(90deg, #0f54bb, #2b3035);
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	/* z-index: 1000; */
	transition: .25s ease-in-out;
}


.border-dark {
	border-color: #000000;
}

.default {
	background-color: var(--defaultColor);
}

.datePickedRow {
	background-color: var(--datePickedColor);
}

.datePickedRow:hover {
	background-color: var(--datePickedColorHover);
}

.sentOutRow {
	background-color: var(--sentOutColor);
}

.sentOutRow:hover {
	background-color: var(--sentOutColorHover);
}

.diagRow {
	background-color: var(--diagColor);
}

.diagRow:hover {
	background-color: var(--diagColorHover);
}

.submittedClaimRow {
	background-color: var(--submittedClaimColor);
}

.submittedClaimRow:hover {
	background-color: var(--submittedClaimColorHover);
}

.submittedRFARow {
	background-color: var(--submittedRFAColor);
}

.submittedRFARow:hover {
	background-color: var(--submittedRFAColorHover);
}

.orderedPartsRow {
	background-color: var(--orderedPartsColor);
}

.orderedPartsRow:hover {
	background-color: var(--orderedPartsColorHover);
}

.partsArrivedRow {
	background-color: var(--partsArrivedColor);
}

.partsArrivedRow:hover {
	background-color: var(--partsArrivedColorHover);
}

.waitingOnDEPRow {
	background-color: var(--waitingOnDEPColor);
}

.waitingOnDEPRow:hover {
	background-color: var(--waitingOnDEPColorHover);
}

.finishedRow {
	background-color: var(--finishedColor);
}

.finishedRow:hover {
	background-color: var(--finishedColorHover);
}

#searchInput {
	margin-bottom: 10px;
}

#mainTitle {
	margin-bottom: 20px;
	margin-top: 20px;
}

.repair-search-input-group {
	display: flex;
}

.repair-search-input-group>:not(:first-child) {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.repair-search-input-group>:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.repair-search-input-group>.form-control:focus,
.input-group>.form-select:focus {
	z-index: 3;
}

.header-inline {
	padding-right: 10px;
}

.copiable {
	cursor: pointer;
}

.work-table {
	text-align: center;
}

.badge-not-selected {
	background-color: transparent;
}

.badge {
	margin-top: 2px;
	margin-right: 5px;
	cursor: pointer;
	border: 2px solid transparent;
}

.workerSelect {
	padding-bottom: 10px;
	padding-top: 4px;
}

.workButton {
	width: 100%;
}

.repairEditButton {
	padding-top: 2px;
	padding-bottom: 2px;
}

.float-right-top {
	position: absolute;
	right: 20px;
	top: 40px;
}

.secondRowAddWork {
	margin-top: 10px;
}

.saveButton {
	width: 100%;
}

.loanerButton {
	width: 100%;
}

#printingPill {
	margin-top: 0px;
}

#printingPillLoaner {
	margin-top: 0px;
}

.backButton {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.insideSaveAs {
	width: 100px;
	height: 100px;
}

.backButton {
	z-index: 10;
}

.workSelector {
	width: 250px;
}

.saveWorkCol {
	padding-left: 0px;
}

footer {
	height: 30px;
	line-height: initial;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.footerLogo {
	float: right;
	opacity: 0.5;
	height: 80px;
}

.statement {
	font-size: 10px;
}

.loanerStatement {
	font-size: 14px;
}

.loanerDropOffSig {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 30px 0 20px;
	height: 20px;
	font-size: 15px;
	padding-top: 10px;
}

.loanerDropOffSig span {
	background: #fff;
	padding-right: 10px;
	padding-bottom: 20px;
}

.loanerCheckboxes {
	font-size: 30px;
	text-align: center;
	padding-bottom: 12px;
}

.dropOffSig {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
	height: 20px;
	font-size: 15px;
	padding-top: 10px;
}

.dropOffSig span {
	background: #fff;
	padding-right: 10px;
	padding-bottom: 20px;
}

.const-width-1 {
	width: 130px;
	text-align: center;
	justify-content: center;
}

.const-width-2 {
	width: 125px;
	text-align: center;
	justify-content: center;
}

.center-screen {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.pokeImage {
	width: 50px;
	height: 50px;
}

.pokeStars {
	float: left;
	position: relative;
}

.starImage {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 17px;
	left: 17px;
}

.shaker {
	animation: shake 1.5s;
	animation-iteration-count: infinite;
}

.shakers {
	animation: shakesmall .1s;
}

.star-1 {
	z-index: 1;
	transform-origin: 40px 0px;
	animation: star1 1s forwards;
}

.star-2 {
	z-index: 2;
	transform-origin: 80px 0px;
	animation: star2 1s forwards;
}

.star-3 {
	z-index: 3;
	transform-origin: -40px 0px;
	animation: star3 1s forwards;
}

@keyframes shake {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	25% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	50% {
		transform: translate(-5px, 0px) rotate(-15deg);
	}

	75% {
		transform: translate(5px, 0px) rotate(15deg);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@keyframes shakesmall {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	25% {
		transform: translate(-2px, 0px) rotate(-5deg);
	}

	50% {
		transform: translate(2px, 0px) rotate(5deg);
	}

	75% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@keyframes star1 {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(45deg);
		opacity: 1;
	}

	100% {
		transform: rotate(45deg);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes star2 {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(50deg);
		opacity: 1;
	}

	100% {
		transform: rotate(50deg);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes star3 {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(-45deg);
		opacity: 1;
	}

	100% {
		transform: rotate(-45deg);
		opacity: 0;
		visibility: hidden;
	}
}

body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact;
	height: 100%;
}

.dateTimeForm {
	border-width: 1px;
	padding-left: 10px;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

@media (min-width: 992px) {
	.dateTimeForm {
		width: 332px;
	}
}

@media (min-width: 1200px) {
	.dateTimeForm {
		width: 422px;
	}

	.modelSpan {
		display: block;
	}
}

@media (max-width: 1400px) {
	.modelSpan {
		display: none;
	}
}

@media (min-width: 1400px) {
	.dateTimeForm {
		width: 512px;
	}
}

@media print {

	.modelSpan {
		display: block;
	}
}

.loanerLabel {
	display: inline-block;
}

.loanerEditButton {
	float: right;
	position: absolute;
	margin-left: 10px;
}

.dateDropOffSig {
	float: right;
	height: 20px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 10px;
	margin-top: -15px;
}

.container {
	margin-bottom: -30px;
}

.repaLogo {
	position: relative;
	font-family: 'Work Sans', sans-serif;
	font-size: 100px;
	cursor: help;
}

.label-light {
	color: #ccc
}

.RepaPart {
	color: black;
	font-weight: 800;
	overflow: hidden;
}

.RepaPartBefore {
	position: absolute;
	content: attr(data-content);
	/* Prints the value of the attribute */
	top: 0;
	left: 0;
	color: black;
	overflow: hidden;
	transition: width 1000ms ease;
	width: 0;
	white-space: nowrap;
}

.RepaPartTrans {
	width: 100%;
}

.nav-repair-item-link {
	padding-top: 0px;
}

.active {
	cursor: default;
}

.not-active {
	cursor: pointer;
}

.front-row {
	cursor: pointer;
}

.repairContextButtons {
	position: absolute;
	top: 3px;
	right: 0px;
	z-index: 10
}

.repair-context-button {
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
}

.workEditPencil {
	vertical-align: middle;
	cursor: pointer;
}

.repairEditPencilImage:hover {
	content: url('pencilhover.svg');
}

.repairLogImage:hover {
	content: url('journalhover.svg');
}

.repairReprintImage:hover {
	content: url('printerhover.svg');
}

.table-container {
	max-height: calc(100% - 300px);
	overflow-x: hidden;
	overflow-y: scroll;
}

.datePickedUpDate {
	width: 265px;
	border-width: 1px;
	padding-left: 10px;
	margin-left: 0px !important;
}

.versionClickable {
	cursor: pointer;
}

.address-form {
	padding-top: 10px;
}

.address-form-input {
	padding-right: 0;
}

.btn-primary {
	border-color: #094092 !important;
	background-color: #094092 !important;
}

.btn-primary:hover {
	border-color: #0d6efd;
	background-color: #0d6efd;
}

.btn-primary:disabled {
	border-color: #466491;
	background-color: #466491;
}

.btn-style510::before,
.btn-style510::after {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100px) skewX(-15deg);
	content: "";
}

.btn-style510::before {
	width: 60px;
	background: rgba(255, 255, 255, 0.5);
	filter: blur(30px);
	opacity: 0.5;
}

.btn-style510::after {
	width: 30px;
	left: 30px;
	background: rgba(255, 255, 255, 0.2);
	filter: blur(5px);
}

.btn-style510:hover {
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.btn-style510:hover::before {
	opacity: 1;
}

.btn-style510::before,
.btn-style510:hover::after {
	transform: translateX(300px) skewX(-15deg);
	transition: all 0.9s ease;
}

.btn-style510 {
	position: relative;
	background-color: #094092 !important;
	border-color: #094092;
	color: #fff;
	overflow: hidden;
}

@keyframes rotateCenter {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotateCenter 2s forwards linear;
	animation-iteration-count: infinite;
}

.updatingProgress {
	width: 600px;
	margin-top: 20px;
	padding-left: initial;
	padding-right: initial;
}

.iPadRow {
	margin-left: 55px;
	height: 225px;
	width: 1800;
	overflow: hidden;
	position: relative;
	color: #ddd;
}

.tab-content {
	height: 80vh;
	overflow: auto;
}

.form-control-color-custom {
	padding: 2px;
	margin-top: -7px;
}

.settings-employee-is-black-text {
	position: absolute;
	left: 775px;
}

.settings-employee-color {
	position: absolute;
	left: 700px;
}

.settings-employee-is-active {
	position: absolute;
	left: 600px;
}

.settings-employee-is-repair {
	position: absolute;
	left: 450px;
}

.settings-employee-is-manager {
	position: absolute;
	left: 300px;
}

.settings-employee-label {
	position: absolute;
	left: 155px;
}

.settings-loaner-label {
	position: absolute;
	left: 5px;
}

.settings-loaner-make-model {
	position: absolute;
	left: 155px;
}

.settings-employee-name {
	position: absolute;
	left: 5px;
}

.settings-employee-line {
	position: relative;
	height: 40px;
	width: 1000px;
}

.settings-loaner {
	position: relative;
	height: 40px;
	width: 1000px;
}

#accordionLoaners {
	width: 100%;
}

.settings-history-who-started {
	position: absolute;
	left: 10px;
	top: 6px;
}

.settings-history-ref {
	position: absolute;
	left: 100px;
	top: 8px;
}

.settings-history-value-released {
	position: absolute;
	left: 200px;
	top: 8px;
}

.settings-history-valueReceived {
	position: absolute;
	left: 300px;
	top: 8px;
}

.settings-history-conditionReleased {
	position: absolute;
	left: 400px;
	top: 8px;
}

.settings-history-conditionReceived {
	position: absolute;
	left: 575px;
	top: 8px;
}

.settings-history-dateReleased {
	position: absolute;
	left: 725px;
	top: 8px;
}

.settings-history-dateReceived {
	position: absolute;
	left: 850px;
	top: 8px;
}

.settings-loaner-line {
	position: relative;
	height: 40px;
}

/* .panel {
	position: absolute;
	width: 292px;
	height: 50px;
	border-color: #000;
	border: 2px solid;
	border-radius: 5px;
	transition: margin 1s ease;
	color: white;
} */

.stop-animations {
	transition: margin 0.00s;
}

.informationTab {
	color: white;
	position: absolute;
	transition: top 1s ease;
}

.fullscreenPanel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aaaaaa;
	font-size: 100px;
}

.attachmentPokeball {
	width: 150px;
	height: 150px;
	position: absolute;
	display: none;
}

.balltop {
	margin-top: -139px;
	transform: rotate3d(1, 0, 0, 45deg);
	;
}

.ballbottom {
	transform: rotate(1deg);
}

.settings-gear {
	position: absolute;
	right: 10;
	bottom: 10;
}

.rotateWhenHover {
	transition: transform .6s ease-in-out;
}

.rotateWhenHover:hover {
	transform: rotate(90deg);
}

/* https://stackoverflow.com/questions/41078478/css-animated-checkmark */

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #7ac142;
	}
}

.navbar {
	padding: 0;
}

.desktop-app-title-bar {
	color-scheme: dark;
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size);
	line-height: 1.5;
	box-sizing: inherit;
	user-select: none;
	cursor: default;
	-webkit-app-region: drag;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	background: var(--win32-title-bar-background-color);
	border-bottom: 1px solid #000;
	height: 28px;
	padding: 0;
}

.window-controls {
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: auto;
	display: flex;
}

.window-controls button {
	-webkit-app-region: no-drag;
	display: inline-block;
	position: relative;
	width: 45px;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #a0a0a0;
	background-color: transparent;
	transition: background-color 0.25s ease;
	line-height: 10px;
	/* https://css-tricks.com/cascading-svg-fill-color/ */
}

.window-controls button:focus {
	outline: none;
}

.window-controls button:hover {
	background-color: #888;
	color: #fff;
}

.window-controls button:hover:active {
	background-color: #666;
	transition: none;
}

.window-controls button.close:hover {
	background-color: #e81123;
	color: #fff;
}

.window-controls button.close:hover:active {
	background-color: #bf0f1d;
	transition: none;
}

.window-controls button svg {
	fill: currentColor;
}